<div class="ribbon"></div>
<main class="main mdl-layout__content">
  <div class="container mdl-grid">
    <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h2 class="handwriting">Contact</h2>
      <form id="contactForm">
        <input type="text" name="name" placeholder="Name" /> <br>
        <input type="text" name="email" placeholder="Email" /> <br>
        <textarea rows="6" name="message"></textarea> <br>
        <input type="submit" value="Send" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" /> 
      </form>
    </div>
  </div>
  <footer class="footer mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
      <ul class="mdl-mini-footer--link-list">
        <li>&copy; Aditi Barbhai 2016</li>
      </ul>
    </div>
  </footer>
</main>