<header class="header mdl-layout__header mdl-layout__header--scroll">
  <div class="android-header mdl-layout__header-row">
    <div class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div>
    <span class="mdl-layout-title">Aditi Barbhai</span>
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase home-page" href="/#/home">Home</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase projects-page" href="/#/projects">Projects</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase resume-page" href="/#/resume">Resume</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase blog-page" href="https://aditibarbhai.wordpress.com/">Blog</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase contact-page" href="/#/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="android-drawer mdl-layout__drawer">
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link selected" href="">Home</a>
    <a class="mdl-navigation__link" href="">Portfolio</a>
    <a class="mdl-navigation__link" href="">Resume</a>
    <a class="mdl-navigation__link" href="">Blog</a>
    <a class="mdl-navigation__link" href="">Contact</a>
  </nav>
</div>