<div class="ribbon"></div>
<main class="main mdl-layout__content">
  <div class="container mdl-grid">
    <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h2 class="handwriting">Hello,</h2>
      <p>My name is Aditi. I am a web developer with a focus on front end development, and a love for client side technologies. I graduated from the University of Toronto in 2014, where I double majored in Computer Science and Biotechnology.</p>
      <p>I have been developing software since 2012 through a series of internships, (class and personal) projects and full time employment. I currently work as a Software Consultant in Toronto, where I focus on creating web solutions for business clients. I am passionate about clean design and great user experiences.</p>
      <h4>Experience in...</h4>
      <p><strong>Front End: </strong> jQuery, AngularJS, KnockoutJS, HTML5, CSS3</p>
      <p><strong>Back End: </strong> Python, PHP, Java, C#</p>
      <p><strong>Web Tools: </strong> NPM, Gulp, Grunt, Bower</p>
    </div>
  </div>
</main>