<div class="ribbon"></div>
<main class="main mdl-layout__content">
  <div class="container mdl-grid">
    <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <h2 class="handwriting">Hello,</h2>
      <p>My name is Aditi Barbhai. I am a web developer with a focus on front end development. I graduated from the University of Toronto in 2014, double majoring in Computer Science and Biotechnology.</p>
      <p>I have been developing software since 2012 through a series of internships, (class and personal) projects and full time employment. I currently work as a Software Consultant in Toronto, where I focus on creating web solutions for business clients.</p>
      <h4>Experience in...</h4>
      <p><strong>Front End: </strong> jQuery, AngularJS, KnockoutJS, HTML5, CSS3</p>
      <p><strong>Back End: </strong> Python, Java, C#</p>
      <p><strong>Web Tools: </strong> NPM, Gulp, Grunt, Bower</p>
    </div>
  </div>
  <footer class="footer mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
      <ul class="mdl-mini-footer--link-list">
        <li>&copy; Aditi Barbhai 2016</li>
      </ul>
    </div>
  </footer>
</main>