<main class="mdl-layout__content">
<div class="center"><h2 class="handwriting">Projects</h2></div>
<div class="blog__posts mdl-grid">
  <!-- This website -->
  <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media">
      <h3><a href="/#/projects/1">AditiBarbhai.com</a></h3>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
      I built this website using HTML, CSS, JavaScript and the Material Design Lite library. 
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div>
        <span>2016 - present</span>
      </div>
    </div>
  </div>
  <!-- /end -->
  <!-- Catch the monster -->
  <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
    <div class="mdl-card__media catch-monster">
      <h3><a href="/#/projects/2">Catch the Monster!</a></h3>
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div>
        <span>2014</span>
      </div>
    </div>
  </div>
  <!-- /end -->
  <!-- Buxfer -->
  <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
    <div class="mdl-card__media mdl-color--white buxfer">
      <h3><a href="/#/projects/3">Buxfer</a></h3>
    </div>
    <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
      <div>
        <strong>2013</strong>
      </div>
    </div>
  </div>
  <!-- /end -->
</div>
</main>
<div class="mdl-layout__obfuscator"></div>