.handwriting {
  font-family: 'Pacifico', cursive !important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.mdl-layout__container {
  background-color: #DDE0F3;
}
.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
header .mdl-navigation .mdl-navigation__link:hover {
  border-bottom: 3px solid yellow;
}
header .mdl-navigation .mdl-navigation__link.selected {
  border-bottom: 3px solid yellow;
}
header a {
  color: white;
  text-decoration: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #D7D6D6;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.selected {
  background-color: #D7D6D6;
}
footer {
  margin-top: 8vh;
}
.wrapper {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
.wrapper p,
.wrapper a,
.wrapper span,
.wrapper div,
.wrapper ul,
.wrapper li {
  font-family: 'Roboto', sans-serif;
}
.wrapper p,
.wrapper a,
.wrapper span,
.wrapper div,
.wrapper ul,
.wrapper li,
.wrapper table {
  font-size: 16px;
}
.wrapper .mdl-layout__content {
  font-family: 'Open Sans', sans-serif;
}
.wrapper .mdl-layout__content .back {
  margin-top: 11vh;
  position: fixed;
  left: 7vw;
}
.wrapper .mdl-layout__content .ribbon {
  width: 100vw;
  height: 55vh;
  background-color: #99A5EA;
}
.wrapper .mdl-layout__content .page-content {
  margin: 0 auto;
}
.wrapper .mdl-layout__content .letter {
  width: 65vw;
  background-color: #fff;
  padding: 80px 60px;
  margin-top: -47vh;
}
.wrapper .mdl-layout__content .mdl-grid {
  width: 65vw;
}
.wrapper .mdl-layout__content .mdl-grid .mdl-card__media {
  background-color: lightgrey;
  min-height: 145px;
  position: relative;
}
.wrapper .mdl-layout__content .mdl-grid .mdl-card__media h3 {
  margin-left: 1vw;
  position: absolute;
  bottom: 0;
}
.wrapper .mdl-layout__content .mdl-grid .mdl-card__media h3 a {
  background-color: #DDE0F3;
  padding: 3px 7px;
}
.wrapper .mdl-layout__content .mdl-grid .card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.wrapper .mdl-layout__content .mdl-grid .card-square > .mdl-card__title {
  color: #fff;
  background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.wrapper .mdl-layout__content .blog__posts {
  padding-top: 10vh;
}
.wrapper .mdl-layout__content .blog__posts .mdl-card__media {
  min-height: 208px !important;
}
.wrapper .mdl-layout__content .blog__posts .mdl-card__media h3 {
  background-color: #dde0f3;
  padding: 0 7px;
}
.wrapper .mdl-layout__content .blog__posts .content {
  padding: 50px;
}
.wrapper .card-wide.mdl-card {
  width: 100%;
  max-width: 60vw;
  margin: 20px 0;
  padding: 20px;
}
.wrapper .card-wide.mdl-card.blurb {
  border-left: #3f51b5 solid 10px;
  min-height: 100px;
}
.wrapper .card-wide.mdl-card.education {
  border-left: #ff4081 solid 10px;
}
.wrapper .card-wide.mdl-card.education .mdl-card__supporting-text {
  margin-top: 0;
}
.wrapper .card-wide.mdl-card.tech-stack {
  border-left: #4caf50 solid 10px;
}
.wrapper .card-wide.mdl-card.work-experience {
  border-left: #007105 solid 10px;
}
.wrapper .card-wide.mdl-card .mdl-card__title,
.wrapper .card-wide.mdl-card .mdl-card__supporting-text {
  padding: 0;
  width: 100%;
}
.wrapper .card-wide.mdl-card .mdl-card__supporting-text {
  color: #676971;
  margin-top: 15px;
}
.wrapper .card-wide.mdl-card .subtitle {
  margin-bottom: 0;
  margin-top: 10px;
}
.wrapper .card-wide.mdl-card h2,
.wrapper .card-wide.mdl-card h5,
.wrapper .card-wide.mdl-card h6 {
  font-weight: 500;
}
