// fonts
.handwriting {
    font-family: Pacifico, Arial, Helvetica, sans-serif;
}

// page styles
body {
    font-size: 16px;
}

.mdl-layout__container {
	background-color: #DDE0F3
}

.center {
	text-align: center;
}

header {
	.mdl-navigation {
		.mdl-navigation__link {
			&:hover {
				border-bottom: 3px solid yellow;
			}
		}
	}
}

footer { 
    margin-top: 8vh;
}

.wrapper {
    margin: 0 auto;
    
    .mdl-layout__content {
        .back {
            margin-top: 11vh;
            position: fixed;
            left: 7vw;
        }
        
        .ribbon {
            width: 100vw;
            height: 40vh;
            background-color: #3F51B5;
        }
        .page-content {
            margin: 0 auto;
        }

        .letter {
            width: 65vw;
            background-color: #fff;
            padding: 80px 60px;
            margin-top: -33vh;
        }

        .mdl-grid {
            width: 65vw;
            // padding: 80px 60px;

            .mdl-card__media {
                background-color: lightgrey;
                // min-height: 35vh;
                min-height: 145px; 
                position: relative;
                
                h3 {
                    margin-left: 1vw;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        
        .blog__posts {
            padding-top: 10vh;
            
            .mdl-card__media {
                // min-height: 50vh !important;
                min-height: 208px !important; 
                
                h3 {
                    background-color: rgb(221, 224, 243);
                    padding: 0 7px;
                }
            }
            
            .content {
                padding: 50px;
            }
        }
    }
}